version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always

  backend:
    container_name: backend
    build: .
    restart: always
    depends_on:
      - redis
    env_file:
      - .env
    ports:
      - "3000:3000"
